// $darkGrey: #393E41;
$darkGrey: #011627;
$yellow: #FCC22F;
$lightGrey: #D3D0CB;
$platinum: #E7E5DF;
$powder: #FDFFFC;
// $green: #44BBA4;
$green: #41EAD4;
$red: #F71735;
// $boldFont: 'Alfa Slab One', cursive;
// $boldFont: 'Source Sans Pro', sans-serif;
$boldFont: 'Poppins', sans-serif;
// $boldFont: 'PT Sans', sans-serif;
// $lightFont: 'Vollkorn', serif;
$lightFont: 'Roboto Slab', serif;

body, div, h1, h2, h3, h4, h5, h6, a, button, img, input, section {
  margin: 0px;
  padding: 0px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

#splash-image {
  background-image: url('http://res.cloudinary.com/mellauyellow/image/upload/c_scale,w_1500/v1484025625/1_cmofspfso-joanna-kosinska_otavop.jpg');
  background-position: 40% 0%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

#splash-transparency {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
}

#splash-transparency h4 {
  font-family: $lightFont;
  color: $darkGrey;
  margin: 5px 0px;
}

#splash-transparency h2 {
  // font-weight: 400;
  font-family: $boldFont;
  color: $darkGrey;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: $lightGrey;
}

.down-arrow {
  position:fixed;
  left: 50%;
  bottom: 30px;
  margin-top: -25px;
  height: 30px;
  width: 30px;
  -webkit-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px); }
  60% {
    -webkit-transform: translateY(-10px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-20px); }
  60% {
    -moz-transform: translateY(-10px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  60% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px); } }

#header {
  width: 100%;
  height: 60px;
  border-bottom: 0.5px solid $platinum;
  display: flex;
  align-items: center;
  background-color: white;
}

.fixed {
  position: fixed;
  top: 0px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.name h4 {
  color: $darkGrey;
  font-family: $boldFont;
  font-weight: 700;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.menu h6 {
  font-family: $boldFont;
  text-decoration: none;
  color: $darkGrey;
  transition: color 0.3s ease;
  font-weight: 400;
}

.menu h6:hover {
  color: $green;
  cursor: pointer;
}

section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > h2 {
  font-family: $boldFont;
  color: $darkGrey;
}

.divider {
  width: 80px;
  border-bottom: 2px solid $green;
  margin: 50px 0px;
}

#project-thumbnails {
  display: flex;
}

.thumbnail-background {
  width: 320px;
  height: 220px;
  background: $red;
  background: -webkit-linear-gradient(left, $red, $yellow);
  background: -o-linear-gradient(bottom right, $red, $yellow);
  background: -moz-linear-gradient(bottom right, $red, $yellow);
  background: linear-gradient(to bottom right, $red, $yellow);
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.project-screenshot {
  width: 250px;
  height: 180px;
  background-size: cover;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.1, 1.1);
  }
}
